USE [dbBooksDV]
GO
/****** Object:  StoredProcedure [dbo].[spUserSelectAllActive]    Script Date: 09.04.2024 12:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spUserSelectAllActive] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [UserId]
      ,[FirstName]
      ,[LastName]
      ,[Email]
	  ,[Phone]
  FROM [dbo].[User]
  WHERE Active = 1
END
GO
