<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SQLConnStr" connectionString="Data Source=LAPTOP-BTSGQJPJ\MSSQLSERVER01;Initial Catalog=dbBooksDV;User ID=sa1;Password=Admin123!;TrustServerCertificate=true;" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>